@using Classware.Areas.Teacher.Models.Remark;
@model AllRemarksViewModel

@if (Model.Remarks.Count > 0)
{
	<table class="table table-light table-hover table-striped table-bordered">
		<thead>
			<tr>
				<th class="text-center" scope="col">Student</th>
				<th class="text-center" scope="col">Title</th>
				<th class="text-center" scope="col">Description</th>
				<th class="text-center" scope="col">Edit action</th>
				<th class="text-center" scope="col">Delete action</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var remark in Model.Remarks)
			{
				<tr>
					<td class="text-center">@Model.FirstName @Model.MiddleName @Model.LastName @Model.ClassName</td>
					<td class="text-center">@remark.Title</td>
					<td class="text-center">@remark.Description</td>
					@if (remark.RemarkTeacherId == Model.TeacherId)
					{
						<td class="text-center">
							<a class="btn btn-warning" asp-area="Teacher" asp-controller="Remark" asp-action="Edit" asp-route-id="@remark.Id">Edit</a>
						</td>
						<td class="text-center">
							<form method="post" asp-area="Teacher" asp-controller="Remark" asp-action="Delete">
								<button class="btn btn-danger" asp-area="Teacher" asp-controller="Remark" asp-action="Delete" asp-route-id="@remark.Id">Delete</button>
							</form>
						</td>
					}
					else
					{
						<td class="text-center">
							<a style="pointer-events:none; opacity:0.6;" class="btn btn-warning" asp-area="Teacher" asp-controller="Remark" asp-action="Edit" asp-route-id="@remark.Id">Edit</a>
						</td>
						<td class="text-center">
							<form method="post" asp-area="Teacher" asp-controller="Remark" asp-action="Delete">
								<button disabled="true" class="btn btn-danger" asp-area="Teacher" asp-controller="Remark" asp-action="Delete" asp-route-id="@remark.Id">Delete</button>
							</form>
						</td>
					}
				</tr>
			}
		</tbody>
	</table>
}		
else
{
	<h2 class="text-center">No remarks for were submited for @Model.FirstName @Model.MiddleName @Model.LastName from @Model.ClassName!</h2>
}

