@using Classware.Areas.Student.Models.Profile;
@model EditProfileViewModel

<form class="row" method="post" asp-area="Student" asp-controller="Profile" asp-action="Edit" enctype="multipart/form-data">
	<div class="card">
		<div class=" row" style="margin:auto; width:300px;">
			<label asp-for="@Model.ProfilePicture" class="control-label mt-3"></label>
			<input type="file" class="mt-1" asp-for="@Model.ProfilePicture" />
		</div>
		<div class=" row mb-4" style="margin:auto; width:300px;">
			<label asp-for="@Model.FirstName" class="mt-3">First Name:</label>
			<input asp-for="@Model.FirstName" value="@Model.FirstName" />
		</div>
		<div class=" row mb-4" style="margin:auto; width:300px;">
			<label asp-for="@Model.MiddleName">Middle Name:</label>
			<input asp-for="@Model.MiddleName" value="@Model.MiddleName" />
		</div>
		<div class=" row mb-4" style="margin:auto; width:300px;">
			<label asp-for="@Model.LastName">Last Name:</label>
			<input asp-for="@Model.LastName" value="@Model.LastName" />
		</div>
		<div class="row mb-4" style="margin:auto; width:300px;">
			<label asp-for="@Model.Age">Age:</label>
			<input asp-for="@Model.Age" value="@Model.Age" />
		</div>
		<div class="row mb-4" style="margin:auto; width:300px;">
			<label asp-for="@Model.Gender">Gender:</label>
			<input asp-for="@Model.Gender" value="@Model.Gender" />
		</div>
		<div class="row mb-4" style="margin:auto;">
			<button class="btn btn-warning" asp-area="Student" asp-controller="Profile" asp-action="Edit">Edit</button>
		</div>
	</div>
</form>