@using Classware.Models.Chat;
@model List<ChatViewModel>

<ul class="messagesList">
	@if (Model.Count > 0)
	{
		@foreach (var message in Model)
		{
			<li class="messageListItem">
				<h2 class="messageTitle">@message.Title</h2>
				<p class="messageDescription">Description: @message.Description</p>
				<span class="messageFullName">Full name: @message.FullName</span>
				<span class="messageEmail">@message.Email</span>
				<span class="messageId">Message Id: @message.Id</span>
				<button type="button" class="isAnsweredBtn">Is Answered</button>
			</li>
		}
	}
</ul>

@section Scripts{
	<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
	<script src="~/js/admin.js?v=1"></script>
}
