@using Classware.Areas.Teacher.Models.Compliment;
@model AddComplimentViewModel

<form class="row" method="post" asp-area="Teacher" asp-controller="Compliment" asp-action="Add">
	<div class="card">
		<h3 class="text-center mt-3 mb-3">Add a compliment</h3>
		<hr />
		<div class="row mt-3" style="margin:auto; width:300px">
			<label asp-for="@Model.StudentId">Student:</label>
			<select asp-for="@Model.StudentId" class="form-control">
				@foreach (var student in Model.Students)
				{
					<option value="@student.Id">@student.User?.FirstName @student.User?.MiddleName @student.User?.LastName @student.Class?.Name</option>
				}
			</select>
		</div>
		<div class="row mt-3" style="margin:auto;  width:300px">
			<label asp-for="@Model.Title">Title:</label>
			<input asp-for="@Model.Title" />
		</div>
		<div class="row mt-3" style="margin:auto;  width:300px">
			<label asp-for="@Model.Description">Description:</label>
			<textarea asp-for="@Model.Description" value="@Model.Description" style="height:150px;"></textarea>
		</div>
		<div class="row mt-3" style="margin:auto;  width:300px">
			<ul style="list-style-type:none">
				@foreach (var error in ViewContext.ViewData.ModelState.Values.SelectMany(v => v.Errors))
				{
					<li>
						<span class="text-danger text-center">@error.ErrorMessage</span>
					</li>
				}
				<li class="text-center">
					<span class="text-danger" asp-validation-for="@Model.StudentId"></span>
				</li>
				<li class="text-center">
					<span class="text-danger" asp-validation-for="@Model.Title"></span>
				</li>
				<li class="text-center">
					<span class="text-danger" asp-validation-for="@Model.Description"></span>
				</li>
			</ul>
		</div>
		<div class="row mt-3 mb-3" style="margin:auto;">
			<button class="btn btn-success" asp-area="Teacher" asp-controller="Compliment" asp-action="Add">Add</button>
		</div>
	</div>
</form>

@section Scripts{
	<partial name="_ValidationScriptsPartial" />
}

