@using Classware.Areas.Teacher.Models.Compliment;
@model AllComplimentsViewModel

@if (Model.Compliments.Count > 0)
{
	<table class="table table-light table-hover table-striped table-bordered">
		<thead>
			<tr>
				<th class="text-center" scope="col">Student</th>
				<th class="text-center" scope="col">Title</th>
				<th class="text-center" scope="col">Description</th>
				<th class="text-center" scope="col">Edit action</th>
				<th class="text-center" scope="col">Delete action</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var compliment in Model.Compliments)
			{
				<tr>
					<td class="text-center">@Model.FirstName @Model.MiddleName @Model.LastName @Model.ClassName</td>
					<td class="text-center">@compliment.Title</td>
					<td class="text-center">@compliment.Description</td>
					<td class="text-center">
						<a class="btn btn-warning" asp-area="Teacher" asp-controller="Compliment" asp-action="Edit" asp-route-id="@compliment.Id">Edit</a>
					</td>
					<td class="text-center">
						<form method="post" asp-area="Teacher" asp-controller="Compliment" asp-action="Delete">
							<button class="btn btn-danger" asp-area="Teacher" asp-controller="Compliment" asp-action="Delete" asp-route-id="@compliment.Id">Delete</button>
						</form>
					</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<h2 class="text-center">No compliments for were submited for @Model.FirstName @Model.MiddleName @Model.LastName from @Model.ClassName!</h2>
}