@using Classware.Areas.Teacher.Models.Grade;
@model EditGradeViewModel

<form class="row" method="post" asp-area="Teacher" asp-controller="Grade" asp-action="Edit">
	<div class="card">
		<h3 class="text-center mt-3 mb-3">Edit grade</h3>
		<hr />
		<div style="margin:auto;">
			<label style="display:block;" asp-for="@Model.Grade">Grade:</label>
			<input asp-for="@Model.Grade" value="@Model.Grade" />
		</div>
		<div class="mt-2 row" style="margin:auto;">
			<ul style="list-style-type:none">
				@foreach (var error in ViewContext.ViewData.ModelState.Values.SelectMany(v => v.Errors))
				{
					<li>
						<span class="text-danger">@error.ErrorMessage</span>
					</li>
				}
				<li>
					<span class="text-danger" asp-validation-for="@Model.Grade"></span>
				</li>
			</ul>
		</div>
		<div style="margin:auto;">
			<button class="btn btn-warning mt-3 mb-3" asp-area="Teacher" asp-controller="Grade" asp-action="Edit">Edit</button>
		</div>
	</div>
</form>

@section Scripts{
	<partial name="_ValidationScriptsPartial" />
}
