@using Classware.Areas.Administrator.Models.Teacher;
@model AssignTeachersViewModel

<form class="row" method="post" asp-area="Administrator" asp-controller="Teacher" asp-action="AssignSubject">
	<div class="card">
		<h3 class="text-center mt-3 mb-3">Assign a teacher to a class</h3>
		<hr />
		@if(Model.Teachers == null)
		{
			<div class="row mb-3" style="margin:auto; width:300px;">
				<label asp-for="@Model.TeacherId" class="form-label">Teacher:</label>
				<select asp-for="@Model.TeacherId" class="form-control">
					@foreach (var teacher in Model.Teachers)
					{
						<option value="@teacher.Id">@teacher.User.FirstName @teacher.User.MiddleName @teacher.User.LastName</option>
					}
				</select>
				<span asp-validation-for="@Model.TeacherId" class="text-danger"></span>
			</div>
			<div class="row mb-3" style="margin:auto;width:300px;">
				<label asp-for="@Model.SubjectId" class="form-label">Subject:</label>
				<select asp-for="@Model.SubjectId" class="form-control">
					@foreach (var subject in Model.Subjects)
					{
						<option value="@subject.Id">@subject.Name</option>
					}
				</select>
				<span asp-validation-for="@Model.SubjectId" class="text-danger"></span>
			</div>
			<div class="row mb-3" style="margin:auto">
				<button class="btn btn-primary" asp-area="Administrator" asp-controller="Teacher" asp-action="AssignSubject">Assign</button>
			</div>
		}
		else
		{
		<h4 class="text-center noTeachers">All teachers in the system have their subject assigned!</h4>
		}
	</div>
</form>
